doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    form(method="get", action="/pokemon")
      input(type="submit" value="Pokemon Home")
    form(method="get", action="/trainers")
      input(type="submit" value="Trainers Home")
