extends layout

block content
  h1= title
  p Welcome to #{title}
  - for pokemon in data
    button
      a(href='/pokemon/#{pokemon.id}') #{pokemon["name"]}
  form(method="get", action="/pokemon/new")
    input(type="submit" value="Create")
