extends layout

block content
  h1= title
  p Welcome to #{title}
  - for trainers in data
    button
      a(href='/trainers/#{trainers.id}') #{trainers["name"]}
  form(method="get", action="/trainers/new")
    input(type="submit" value="Create")
